{"openapi":"3.1.0","info":{"title":"로켓펀치 Open API","description":"로켓펀치의 채용공고·이벤트·게시글 등 다양한 데이터를 조회·연동할 수 있는 REST API.\n\n## 인증\n모든 호출에 `X-OBA-API-Key` 헤더가 필요하다. 로켓펀치 포털에서 App을 등록하면 발급되는 공개 키(appKey)를 사용한다.\n\n다음 중 하나라도 해당하면 **`401 Unauthorized`(C0001)** 가 발생한다.\n- `X-OBA-API-Key` 헤더가 없거나 비어 있는 경우\n- 존재하지 않는(잘못된) 키인 경우\n- 폐기(revoked)된 키이거나, 키가 속한 App이 삭제된 경우\n\n인증에 실패하면 요청은 처리되지 않으며, 본문은 공통 에러 응답 형식(`{ code: \"C0001\", ... }`)을 따른다.\n\n## OAuth 2.0 인증\n본 서비스는 사용자 컨텍스트 API 호출을 위해 OAuth 2.0 Authorization Code + PKCE(S256) 인가 흐름을 자체 호스팅한다.\n\n- 인가 화면: `GET /oauth/authorize`\n- 토큰 발급/갱신: `POST /oauth/token`\n- 토큰 폐기: `POST /oauth/revoke`\n\n`X-OBA-API-Key` 는 모든 `/api/v1/**` 호출에 **항상 필수**. 사용자 컨텍스트(로그인한 사용자 권한)가 필요한 API 는 발급된 access token 도 함께 요구하며, 헤더 형식은 `Authorization: Bearer <jwt>`. 어떤 API 가 access token 을 요구하는지는 각 오퍼레이션의 `security` 로 표시된다 — `apiKey` 만 있으면 API Key 만, `apiKey + oauth2` 가 같이 있으면 **둘 다** 보내야 한다 (AND).\n\n## Rate Limit\nApp Key 기준 **전역 분당 60회 / 일 5,000회**. 초과 시 `429` + `Retry-After`.\n정상 응답에는 `X-OBA-RateLimit-Remaining` 헤더 포함.\n\n게시글 write 엔드포인트에는 **전역 한도 안에 포함되는 sub-limit** 이 추가로 적용된다.\nwrite 1건 호출 시 전역 카운터와 scope 카운터가 동시에 증가하며 둘 중 어느 쪽이든 먼저\n한도를 넘으면 429 가 응답된다. scope 카운터가 먼저 닿은 경우 응답에 `X-OBA-RateLimit-Scope`\n(`post.create` / `post.update` / `post.delete`) 헤더가 노출된다.\n\n| 작업 | 분당 | 시간당 | 일 |\n|---|---:|---:|---:|\n| `POST /api/v1/posts` (게시글 생성) | 3 | 30 | 200 |\n| `PUT /api/v1/posts/{id}` (게시글 수정) | 5 | 60 | 500 |\n| `DELETE /api/v1/posts/{id}` (게시글 삭제) | 3 | 30 | 150 |\n\n## 다국어 (Accept-Language)\n`Accept-Language` 헤더로 응답 언어를 결정한다(미지정 시 `ko`).\n\n코드 카탈로그(`/v1/codes/*`) 라벨이 지원하는 로케일:\n\n| 코드 | 언어 | 비고 |\n|---|---|---|\n| `ko` | 한국어 (Korean) | 기본값 |\n| `en` | 영어 (English) | |\n| `ja` | 일본어 (Japanese) | |\n| `zh-CN` | 중국어 간체 (Simplified Chinese) | 중국 본토 |\n| `zh-TW` | 중국어 번체 (Traditional Chinese) | 대만·홍콩 |\n| `es` | 스페인어 (Spanish) | |\n| `fr` | 프랑스어 (French) | |\n| `de` | 독일어 (German) | |\n| `pt` | 포르투갈어 (Portuguese) | |\n| `th` | 태국어 (Thai) | |\n| `vi` | 베트남어 (Vietnamese) | |\n\n채용공고·이벤트·게시글 **본문 번역**은 `en`, `ja`, `zh-CN`, `zh-TW` 만 제공하며, 그 외 언어는 원문으로 반환한다.\n\n## 페이지네이션\n목록(검색) 응답은 페이지 기반 페이지네이션을 사용한다.\n- `page`: 조회할 페이지 번호. **1부터 시작**(기본 `1`). 1 미만 값은 `1` 로 보정된다.\n- `pageSize`: 페이지당 항목 수. 기본 `20`, **최대 `50`**. 범위를 벗어난 값은 1~50 으로 보정된다(50 초과 요청은 50 으로 처리).\n\n응답은 공통 형식으로 다음 필드를 포함한다.\n- `totalItems`: 조건에 맞는 전체 항목 수\n- `totalPages`: 전체 페이지 수(`ceil(totalItems / pageSize)`)\n- `page` / `pageSize`: 실제 적용된(보정된) 페이지 번호와 크기\n- `items`: 현재 페이지의 항목 배열\n\n`page` 가 `totalPages` 를 초과하면 오류 없이 `items` 가 빈 배열로 반환된다.\n\n## 에러\n정상 흐름(2xx)을 제외한 모든 4xx·5xx 응답은 동일한 에러 응답 형식(`ErrorResponse`)을 사용한다.\n\n### 에러 응답 형식\n```json\n{\n  \"code\": \"C0005\",\n  \"message\": \"pageSize는 50 이하여야 합니다. 입력값: 51\",\n  \"timestamp\": \"2026-05-20T09:00:00\",\n  \"details\": \"pageSize\"\n}\n```\n\n| 필드 | 설명 |\n|---|---|\n| `code` | 에러 코드. 아래 표의 값 중 하나로, 클라이언트 분기에 사용한다 |\n| `message` | 사람이 읽을 수 있는 에러 메시지 |\n| `timestamp` | 에러 발생 시각 (UTC 기준) |\n| `details` | 문제가 된 필드명/사유. 해당 정보가 없으면 `null` |\n\n### 에러 코드\n| HTTP | code | 의미 |\n|---|---|---|\n| 400 | C0002 | 입력 형식 오류 |\n| 400 | C0005 | 쿼리 파라미터 유효성 실패 |\n| 401 | C0001 | API Key 누락/무효 |\n| 404 | C0008 / EV001 / R0001 / P0002 | 리소스 없음(공통/이벤트/공고/게시글) |\n| 429 | C0010 | Rate limit 초과 |\n| 500 | C9999 | 서버 오류 |","version":"v1"},"servers":[{"url":"https://openapi.rocketpunch.com","description":"Production"}],"security":[{"apiKey":[]}],"tags":[{"name":"Codes","description":"검색 필터에 사용하는 코드 목록. 응답의 `code` 를 검색 파라미터 값으로 그대로 전달한다. 표시명(`displayName`)은 Accept-Language 에 따라 번역된다."},{"name":"OAuth Authorization","description":"Authorization Code + PKCE 인가 흐름의 시작점. 사용자를 `GET /oauth/authorize` 로 보내 로그인·동의를 받으면 등록된 redirect_uri 로 일회용 authorization code 가 전달된다. 이 code 를 OAuth Token 에서 access token 으로 교환한다."},{"name":"Posts","description":"게시글 조회 API"},{"name":"Jobs","description":"채용공고 조회 API"},{"name":"OAuth Token","description":"authorization code 나 refresh token 을 access token 으로 교환·갱신하고(`POST /oauth/token`), 더 이상 쓰지 않는 토큰을 폐기한다(`POST /oauth/revoke`). 발급된 access token 은 `Authorization: Bearer` 로 사용자 컨텍스트 API 호출에 사용한다."},{"name":"Events","description":"이벤트 조회 API"}],"paths":{"/api/v1/posts/{postId}":{"get":{"tags":["Posts"],"summary":"게시글 상세 조회","description":"게시글 단건 상세를 조회한다.","operationId":"getPost","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0},"example":9876543},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공. 재게시(reposted) 원본은 한 단계까지만 펼쳐지며, 펼친 원본 안의 추가 재게시는 포함하지 않는다(중첩 reposted 는 null).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDetailResponse"}}}},"404":{"description":"게시글이 존재하지 않거나, 작성자가 삭제·차단·탈퇴 상태인 경우 (P0002).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"put":{"tags":["Posts"],"summary":"게시글 수정","description":"OAuth 인증된 작성자 본인이 자신의 게시글 본문(+OG)을 수정한다. 본문(JSON) + 이미지 0~10장을 multipart/form-data 로 함께 업로드한다. `post:write` scope 필요.","operationId":"updatePost","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":12345678},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/UpdatePostRequest"},"images":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["request"]}}}},"responses":{"200":{"description":"수정 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostWriteResponse"}}}},"403":{"description":"scope 부족 또는 작성자 본인이 아닌 경우 (P0003).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글이 존재하지 않는 경우 (P0002).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"이미지 검증 실패 (P0010 개수 / P0011 크기 / P0012 형식) 또는 request 유효성 실패 (C0005).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"502":{"description":"S3 업로드 실패 (P0013).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"apiKey":[],"oauth2":[]}]},"delete":{"tags":["Posts"],"summary":"게시글 삭제","description":"OAuth 인증된 작성자 본인이 자신의 게시글을 삭제한다. 부속(이미지/멘션/번역/카드)도 함께 정리된다. `post:write` scope 필요.","operationId":"deletePost","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":12345678},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"삭제 성공 (빈 body)."},"403":{"description":"scope 부족 또는 작성자 본인이 아닌 경우 (P0003).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글이 존재하지 않는 경우 (P0002).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"apiKey":[],"oauth2":[]}]}},"/oauth/token":{"post":{"tags":["OAuth Token"],"summary":"토큰 발급 / 갱신","description":"사용자 컨텍스트 access token 을 발급·갱신한다. `grant_type=authorization_code` 면 `/oauth/authorize` 에서 받은 `code` + PKCE `code_verifier` 로 최초 발급하고, `grant_type=refresh_token` 이면 `refresh_token` 으로 재발급한다. 응답 `access_token` 은 `Authorization: Bearer <jwt>` 형식으로 `X-OBA-API-Key` 와 함께 사용자 컨텍스트 `/api/v1/**` 호출에 사용한다. 클라이언트 인증은 HTTP Basic 또는 본문의 `client_id`/`client_secret`.","operationId":"oauthToken","parameters":[{"name":"Authorization","in":"header","description":"Basic base64(client_id:client_secret) — form 의 client_id/client_secret 사용 시 생략 가능","required":false,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"oneOf":[{"$ref":"#/components/schemas/OAuthAuthorizationCodeTokenRequest"},{"$ref":"#/components/schemas/OAuthRefreshTokenRequest"}]}}}},"responses":{"200":{"description":"토큰 발급 성공","headers":{"Cache-Control":{"description":"no-store","style":"simple"},"Pragma":{"description":"no-cache","style":"simple"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthTokenResponse"}}}},"400":{"description":"invalid_request / invalid_grant / unsupported_grant_type / invalid_scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthErrorResponse"}}}},"401":{"description":"invalid_client","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthErrorResponse"}}}},"500":{"description":"server_error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[]}},"/oauth/revoke":{"post":{"tags":["OAuth Token"],"summary":"토큰 폐기","description":"access token 또는 refresh token 을 무효화한다(RFC 7009). 로그아웃이나 토큰 노출 대응에 사용하며, 존재하지 않거나 이미 폐기된 토큰도 200 으로 응답한다(멱등).","operationId":"oauthRevoke","parameters":[{"name":"Authorization","in":"header","description":"Basic base64(client_id:client_secret) — form 의 client_id/client_secret 사용 시 생략 가능","required":false,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/OAuthRevokeRequest"}}}},"responses":{"200":{"description":"RFC 7009 — 미존재/이미 revoke 도 200, 빈 본문","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"invalid_client","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[]}},"/api/v1/posts":{"get":{"tags":["Posts"],"summary":"게시글 검색·목록","description":"게시글을 검색·페이지네이션 조회한다.","operationId":"searchPosts","parameters":[{"name":"keyword","in":"query","description":"본문 검색어","required":false,"schema":{"type":"string","maxLength":100,"minLength":0}},{"name":"companyId","in":"query","description":"검색할 회사 handle","required":false,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"}},{"name":"hasImages","in":"query","description":"이미지 포함만","required":false,"schema":{"type":"boolean"}},{"name":"hasOg","in":"query","description":"Open Graph 포함만","required":false,"schema":{"type":"boolean"}},{"name":"postedAfter","in":"query","description":"게시 시각 ≥ (ISO datetime)","required":false,"schema":{"type":"string"}},{"name":"postedBefore","in":"query","description":"게시 시각 ≤ (ISO datetime)","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"조회할 페이지 번호 (1부터 시작, 기본값 1)","required":false,"schema":{"type":"integer","format":"int32","minimum":1},"example":1},{"name":"pageSize","in":"query","description":"페이지 크기(1~50, 기본 20)","required":false,"schema":{"type":"integer","format":"int32","maximum":50,"minimum":1},"example":20},{"name":"sort","in":"query","description":"정렬 (RELEVANCE: 관련도순(기본), RECENT: 최신순)","required":false,"schema":{"type":"string","enum":["RELEVANCE","RECENT"]},"example":"RELEVANCE"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponsePostSummaryResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"post":{"tags":["Posts"],"summary":"게시글 작성","description":"OAuth 인증된 사용자가 본문(+OG) 으로 새 게시글을 작성한다. 본문(JSON) + 이미지 0~10장을 multipart/form-data 로 함께 업로드한다. `post:write` scope 필요.","operationId":"createPost","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/CreatePostRequest"},"images":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["request"]}}}},"responses":{"201":{"description":"작성 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostWriteResponse"}}}},"403":{"description":"scope 부족(`post:write` 미보유).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"이미지 검증 실패 (P0010 개수 / P0011 크기 / P0012 형식) 또는 request 유효성 실패 (C0005).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"502":{"description":"S3 업로드 실패 (P0013).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"apiKey":[],"oauth2":[]}]}},"/oauth/authorize":{"get":{"tags":["OAuth Authorization"],"summary":"인가 화면 / 동의","description":"OAuth 2.0 Authorization Code + PKCE(S256) 흐름의 1단계. 사용자를 이 URL 로 리다이렉트하면 로켓펀치 로그인·동의를 거쳐 등록된 redirect_uri 로 일회용 `code` 와 `state` 가 돌아온다 (성공: 302 `code`+`state`, 사용자 거부 등 실패: 302 `error`+`state`, client_id 미등록·redirect_uri 불일치: redirect 없이 400 HTML). 받은 `code` 는 `POST /oauth/token`(grant_type=authorization_code)에서 `code_verifier` 와 함께 access token 으로 교환한다. `code_challenge = BASE64URL(SHA256(code_verifier))`.","operationId":"oauthAuthorize","parameters":[{"name":"response_type","in":"query","description":"항상 code","required":true,"schema":{"type":"string"}},{"name":"client_id","in":"query","description":"등록된 OAuth 클라이언트 ID","required":true,"schema":{"type":"string"}},{"name":"redirect_uri","in":"query","description":"사전 등록된 redirect URI 와 글자 단위로 일치해야 함","required":true,"schema":{"type":"string"}},{"name":"scope","in":"query","description":"요청 scope (공백 구분)","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","description":"CSRF 방지용 opaque 값 (권장)","required":false,"schema":{"type":"string"}},{"name":"code_challenge","in":"query","description":"PKCE code challenge (BASE64URL(SHA256(verifier)))","required":true,"schema":{"type":"string"}},{"name":"code_challenge_method","in":"query","description":"항상 S256","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserPrincipal"}},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"동의 화면 (HTML)","content":{"text/html":{}}},"302":{"description":"인가 결과 redirect (성공: code+state, 실패: error+error_description+state per RFC 6749 §4.1.2.1)","headers":{"Location":{"description":"callback URL with query params","style":"simple"}},"content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"client_id 미등록 또는 redirect_uri 불일치 — HTML 에러 페이지, redirect 안 함","content":{"text/html":{}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[]}},"/api/v1/jobs":{"get":{"tags":["Jobs"],"summary":"채용공고 검색·목록","description":"모집중인 채용공고를 검색·페이지네이션 조회한다. 같은 필터의 여러 값은 OR, 서로 다른 필터는 AND 로 결합된다.","operationId":"searchJobs","parameters":[{"name":"keyword","in":"query","description":"제목/내용 검색어","required":false,"schema":{"type":"string","maxLength":100,"minLength":0}},{"name":"companyId","in":"query","description":"검색할 회사 handle","required":false,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"}},{"name":"jobCategories","in":"query","description":"직군 코드. /v1/codes/job-categories 참조","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"seniorities","in":"query","description":"숙련도: BEGINNER/JUNIOR/MIDLEVEL/SENIOR/EXECUTIVE","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"employmentTypes","in":"query","description":"고용형태. /v1/codes/employment-types 참조","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"companySizes","in":"query","description":"회사 규모: TINY/SMALL/MEDIUM/LARGE/HUGE","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"workTypes","in":"query","description":"근무형태: ONSITE/HYBRID/REMOTE","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort","in":"query","description":"정렬: RELEVANCE_DESC(관련도순, 기본)/DATE_DESC(최신순)/POPULARITY_DESC(인기순)","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"조회할 페이지 번호 (1부터 시작, 기본값 1)","required":false,"schema":{"type":"integer","format":"int32","minimum":1},"example":1},{"name":"pageSize","in":"query","description":"페이지 크기(1~50, 기본 20)","required":false,"schema":{"type":"integer","format":"int32","maximum":50,"minimum":1},"example":20},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseJobSummaryResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/jobs/{jobId}":{"get":{"tags":["Jobs"],"summary":"채용공고 상세 조회","description":"채용공고 단건 상세를 조회한다. 삭제·임시저장(draft) 공고를 제외한 모든 공고를 200 으로 응답한다 (published, finish, 그리고 모집 종료된 published 포함). 응답의 status·hiring 필드 조합으로 현재 노출 상태를 구분한다. 지원 가능 여부는 `status==\"published\" && hiring==true` 일 때만 true 로 판정하면 된다. 그 외 케이스(`hiring==false` 또는 `status==\"finish\"`) 는 모집이 종료된 공고이므로 지원 버튼을 비활성화하거나 마감 배지를 노출하는 것을 권장한다.","operationId":"getJob","parameters":[{"name":"jobId","in":"path","description":"채용공고 ID","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0},"example":9001234},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobDetailResponse"}}}},"404":{"description":"채용공고가 존재하지 않거나, 임시저장(draft) 상태인 경우 (R0001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/events":{"get":{"tags":["Events"],"summary":"이벤트 검색·목록","description":"이벤트를 검색·필터링하여 페이지 단위로 조회한다. 키워드, 카테고리, 주제, 지역, 기간, 상태로 필터링하며, 시작일이 임박한 순(시작일 오름차순)으로 정렬한다.","operationId":"searchEvents","parameters":[{"name":"keyword","in":"query","description":"이벤트명/설명 검색어","required":false,"schema":{"type":"string","maxLength":100,"minLength":0}},{"name":"categories","in":"query","description":"카테고리 코드. 값은 /v1/codes/event-categories 참조","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"subjects","in":"query","description":"주제 코드. /v1/codes/event-subjects 참조","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"openTypes","in":"query","description":"오픈 타입: OFFLINE(오프라인·현장)/ONLINE(온라인)/ON_OFFLINE(온·오프라인 병행)/TBD(미정)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"startDateFrom","in":"query","description":"시작일 ≥ (YYYY-MM-DD)","required":false,"schema":{"type":"string"},"example":"2026-06-01"},{"name":"startDateTo","in":"query","description":"시작일 ≤ (YYYY-MM-DD)","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"상태 필터(이벤트 기간 기준). UPCOMING(시작 전, startDate>현재)/ONGOING(진행 중)/CLOSED(종료, endDate<현재).","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"조회할 페이지 번호 (1부터 시작, 기본값 1)","required":false,"schema":{"type":"integer","format":"int32","minimum":1},"example":1},{"name":"pageSize","in":"query","description":"페이지 크기(1~50, 기본 20)","required":false,"schema":{"type":"integer","format":"int32","maximum":50,"minimum":1},"example":20},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEventSummaryResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/events/{eventId}":{"get":{"tags":["Events"],"summary":"이벤트 상세 조회","description":"이벤트 ID로 상세 정보를 조회한다. 존재하지 않는 이벤트는 404(EV001)를 반환한다.","operationId":"getEvent","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string","maxLength":64,"minLength":0},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventDetailResponse"}}}},"404":{"description":"이벤트가 존재하지 않는 경우 (EV001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/events/{eventId}/tickets":{"get":{"tags":["Events"],"summary":"이벤트 티켓 목록 조회","description":"이벤트의 티켓 목록을 표시 순서대로 조회한다. 티켓이 없으면 빈 배열을, 존재하지 않는 이벤트는 404(EV001)를 반환한다.","operationId":"getEventTickets","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string","maxLength":64,"minLength":0},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공. 티켓이 없으면 빈 배열.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventTicketResponse"}}}}},"404":{"description":"이벤트가 존재하지 않는 경우 (EV001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/events/{eventId}/sessions":{"get":{"tags":["Events"],"summary":"이벤트 세션(타임테이블) 조회","description":"이벤트의 세션을 진행 시간대별로 묶어 조회한다. 세션이 없으면 빈 배열을, 존재하지 않는 이벤트는 404(EV001)를 반환한다.","operationId":"getEventSessions","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string","maxLength":64,"minLength":0},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공. 세션이 없으면 빈 배열.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventSessionTimeSlotResponse"}}}}},"404":{"description":"이벤트가 존재하지 않는 경우 (EV001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/events/{eventId}/faqs":{"get":{"tags":["Events"],"summary":"이벤트 FAQ 조회","description":"이벤트의 FAQ를 카테고리별로 묶어 조회한다. FAQ가 없으면 빈 배열을, 존재하지 않는 이벤트는 404(EV001)를 반환한다.","operationId":"getEventFaqs","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string","maxLength":64,"minLength":0},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공. FAQ가 없으면 빈 배열.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventFaqCategoryResponse"}}}}},"404":{"description":"이벤트가 존재하지 않는 경우 (EV001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/seniorities":{"get":{"tags":["Codes"],"summary":"숙련도 코드","description":"채용공고 검색의 `seniorities` 필터 값.","operationId":"getSeniorities","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/job-industries":{"get":{"tags":["Codes"],"summary":"채용 산업분야 코드","description":"채용공고 검색의 산업분야 필터 값. level 1~3 계층 구조로 반환한다.","operationId":"getJobIndustries","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobIndustryCodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/job-categories":{"get":{"tags":["Codes"],"summary":"채용 직군 코드","description":"채용공고 검색의 `jobCategories` 필터 값.","operationId":"getJobCategories","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/event-subjects":{"get":{"tags":["Codes"],"summary":"이벤트 주제 코드","description":"이벤트 검색의 `subjects` 필터 값.","operationId":"getEventSubjects","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/event-categories":{"get":{"tags":["Codes"],"summary":"이벤트 카테고리 코드","description":"이벤트 검색의 `categories` 필터 값.","operationId":"getEventCategories","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/employment-types":{"get":{"tags":["Codes"],"summary":"고용형태 코드","description":"채용공고 검색의 `employmentTypes` 필터 값.","operationId":"getEmploymentTypes","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}}},"components":{"schemas":{"ErrorResponse":{"description":"공통 에러 응답","properties":{"code":{"type":"string","description":"에러 코드 (문서 에러 코드 표 참조)","example":"C0005"},"message":{"type":"string","description":"사람이 읽을 수 있는 에러 메시지 (위반 규칙과 입력값을 포함한 동적 한국어 문구)","example":"pageSize는 50 이하여야 합니다. 입력값: 51"},"timestamp":{"type":"string","example":"2026-05-20T09:00:00"},"details":{"type":"string","description":"문제 필드/사유","example":"startDate"}}},"OpenGraphRequest":{"type":"object","properties":{"link":{"type":"string","description":"원본 링크. 서버가 이 URL 을 크롤링해 OG 메타(제목/출처/이미지/설명)를 채운다.","example":"https://example.com","maxLength":200,"minLength":0}},"required":["link"]},"UpdatePostRequest":{"type":"object","properties":{"text":{"type":"string","description":"게시글 본문 (최대 5,000자)","example":"수정된 게시글 본문 내용","maxLength":5000,"minLength":0},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphRequest"},{"type":"null"}]}},"required":["text"]},"OpenGraphResponse":{"type":"object","properties":{"link":{"type":"string","description":"원본 링크"},"title":{"type":["string","null"],"description":"OG 제목"},"source":{"type":["string","null"],"description":"OG 출처"},"image":{"type":["string","null"],"description":"OG 이미지(외부 절대 URL)"},"description":{"type":["string","null"],"description":"OG 설명"}},"required":["link"]},"PostImageResponse":{"type":"object","description":"게시글 이미지","properties":{"id":{"type":"integer","format":"int32","description":"core_media.id","example":12345},"url":{"type":"string","description":"이미지 절대 URL","example":"https://cdn.example.com/images/2026/5/30/abcdef.jpg"},"width":{"type":["integer","null"],"format":"int32","description":"이미지 너비(px). 측정 실패 시 null.","example":1920},"height":{"type":["integer","null"],"format":"int32","description":"이미지 높이(px). 측정 실패 시 null.","example":1080}},"required":["id","url"]},"PostWriteResponse":{"type":"object","description":"게시글 작성/수정 응답","properties":{"postId":{"type":"integer","format":"int64","description":"게시글 ID","example":12345678},"content":{"type":"string","description":"게시글 본문"},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphResponse"},{"type":"null"}]},"images":{"type":"array","description":"첨부 이미지 (0~10장).","items":{"$ref":"#/components/schemas/PostImageResponse"}},"webUrl":{"type":"string","description":"게시글 웹 URL","example":"https://www.rocketpunch.com/post/12345678"},"postedAt":{"type":"string","description":"게시 시각 (ISO 8601 UTC)","example":"2026-05-29T09:00:00Z"},"updatedAt":{"type":"string","description":"수정 시각 (ISO 8601 UTC)","example":"2026-05-29T09:00:00Z"}},"required":["content","images","postId","postedAt","updatedAt","webUrl"]},"OAuthAuthorizationCodeTokenRequest":{"description":"grant_type=authorization_code 토큰 교환 요청","properties":{"grant_type":{"type":"string","enum":["authorization_code"],"example":"authorization_code"},"code":{"type":"string","description":"GET /oauth/authorize 응답으로 받은 1회용 코드"},"redirect_uri":{"type":"string","description":"authorize 단계와 글자 단위로 동일","example":"https://builder.example.com/callback"},"code_verifier":{"type":"string","description":"PKCE verifier (43–128자, [A-Za-z0-9._~-])","maxLength":128,"minLength":43},"client_id":{"type":"string","description":"Basic Auth 사용 시 생략 가능"},"client_secret":{"type":"string","description":"Basic Auth 사용 시 생략 가능"}},"required":["code","code_verifier","grant_type","redirect_uri"]},"OAuthRefreshTokenRequest":{"description":"grant_type=refresh_token 갱신 요청","properties":{"grant_type":{"type":"string","enum":["refresh_token"],"example":"refresh_token"},"refresh_token":{"type":"string","description":"갱신에 사용할 refresh token","example":"rt_..."},"scope":{"type":"string","description":"원본 scope 의 부분집합 (downscope only)"},"client_id":{"type":"string","description":"Basic Auth 사용 시 생략 가능"},"client_secret":{"type":"string","description":"Basic Auth 사용 시 생략 가능"}},"required":["grant_type","refresh_token"]},"OAuthTokenResponse":{"type":"object","description":"RFC 6749 §5.1 토큰 응답","properties":{"access_token":{"type":"string","description":"Bearer 액세스 토큰 (JWT)","example":"eyJhbGciOiJSUzI1NiJ9..."},"token_type":{"type":"string","description":"토큰 타입 — 항상 Bearer","example":"Bearer"},"expires_in":{"type":"integer","format":"int64","description":"액세스 토큰 유효 시간 (초)","example":3600},"refresh_token":{"type":"string","description":"갱신 토큰 평문 (1회용)","example":"rt_a1b2c3d4..."},"scope":{"type":"string","description":"발급된 scope (공백 구분)","example":"profile:read"}},"required":["access_token","expires_in","refresh_token","scope","token_type"]},"OAuthErrorResponse":{"type":"object","description":"RFC 6749 §5.2 OAuth 에러 응답","properties":{"error":{"type":"string","enum":["invalid_request","invalid_client","invalid_grant","unauthorized_client","unsupported_grant_type","invalid_scope","server_error"],"example":"invalid_grant"},"error_description":{"type":"string","description":"사람이 읽는 짧은 영문 메시지","example":"Authorization code expired or already used."}},"required":["error"]},"OAuthRevokeRequest":{"description":"RFC 7009 토큰 폐기 요청","properties":{"token":{"type":"string","description":"revoke 대상 refresh token 평문"},"token_type_hint":{"type":"string","enum":["refresh_token"]},"client_id":{"type":"string","description":"Basic Auth 사용 시 생략 가능"},"client_secret":{"type":"string","description":"Basic Auth 사용 시 생략 가능"}},"required":["token"]},"CreatePostRequest":{"type":"object","properties":{"text":{"type":"string","description":"게시글 본문 (최대 5,000자)","example":"게시글 본문 내용","maxLength":5000,"minLength":0},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphRequest"},{"type":"null"}]}},"required":["text"]},"UserPrincipal":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"memberId":{"type":"integer","format":"int64"},"name":{"type":"string"},"imageUrl":{"type":["string","null"]}},"required":["memberId","name","userId"]},"PageResponsePostSummaryResponse":{"type":"object","description":"페이지네이션 응답. page 는 1부터 시작하며, page > totalPages 인 경우 items 는 빈 배열이다.","properties":{"totalItems":{"type":"integer","format":"int64","description":"전체 항목 수"},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수"},"page":{"type":"integer","format":"int32","description":"현재 페이지 번호 (1부터 시작)"},"pageSize":{"type":"integer","format":"int32","description":"페이지 크기"},"items":{"type":"array","description":"현재 페이지 항목","items":{"$ref":"#/components/schemas/PostSummaryResponse"}}},"required":["items","page","pageSize","totalItems","totalPages"]},"PostAuthorResponse":{"type":"object","properties":{"type":{"type":"string","description":"작성자 유형","enum":["COMPANY","MEMBER"],"example":"COMPANY"},"id":{"type":["string","null"],"description":"작성자 식별자(handle)"},"name":{"type":"string","description":"작성자명"},"imageUrl":{"type":["string","null"],"description":"작성자 이미지 URL(COMPANY=회사 로고, MEMBER=프로필 이미지)"},"certificated":{"type":"boolean","description":"인플루언서 인증여부"}},"required":["certificated","name","type"]},"PostStatsResponse":{"type":"object","properties":{"likeCount":{"type":["integer","null"],"format":"int64","description":"좋아요 수"},"commentCount":{"type":["integer","null"],"format":"int64","description":"댓글 수"}}},"PostSummaryResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64","description":"게시글 ID","example":9876543},"author":{"$ref":"#/components/schemas/PostAuthorResponse","description":"작성자"},"content":{"type":["string","null"],"description":"게시글 본문"},"images":{"type":"array","description":"이미지 목록","items":{"$ref":"#/components/schemas/PostImageResponse"}},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphResponse"},{"type":"null"}]},"stats":{"$ref":"#/components/schemas/PostStatsResponse","description":"누적 통계"},"owned":{"type":"boolean","description":"현재 인증된 사용자의 게시글 여부 (Bearer 토큰 없으면 항상 false)"},"webUrl":{"type":"string","description":"게시글 웹 URL","example":"https://www.rocketpunch.com/post/9876543"},"postedAt":{"type":"string","description":"게시 시각(목록은 원시 LocalDateTime 문자열, 타임존 없음)"}},"required":["author","images","owned","postId","postedAt","stats","webUrl"]},"MentionResponse":{"type":"object","properties":{"name":{"type":"string","description":"이름"},"id":{"type":"string","description":"식별자(handle)"}},"required":["id","name"]},"PostDetailResponse":{"type":"object","description":"게시글 상세","properties":{"postId":{"type":"integer","format":"int64","description":"게시글 ID","example":9876543},"author":{"$ref":"#/components/schemas/PostAuthorResponse","description":"작성자"},"content":{"type":["string","null"],"description":"게시글 본문"},"language":{"type":["string","null"],"description":"콘텐츠 언어"},"images":{"type":"array","description":"이미지 목록","items":{"$ref":"#/components/schemas/PostImageResponse"}},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphResponse"},{"type":"null"}]},"mentions":{"$ref":"#/components/schemas/PostMentionsResponse","description":"멘션"},"repostedPost":{"oneOf":[{"$ref":"#/components/schemas/PostDetailResponse"},{"type":"null"}]},"repostedPostDeleted":{"type":"boolean","description":"재게시 원본 삭제 여부"},"stats":{"$ref":"#/components/schemas/PostStatsResponse","description":"누적 통계"},"owned":{"type":"boolean","description":"현재 인증된 사용자의 게시글 여부 (Bearer 토큰 없으면 항상 false)"},"webUrl":{"type":"string","description":"게시글 웹 URL","example":"https://www.rocketpunch.com/post/9876543"},"postedAt":{"type":"string","description":"게시 시각 (ISO 8601 UTC)"},"updatedAt":{"type":"string","description":"수정 시각 (ISO 8601 UTC)"}},"required":["author","images","mentions","owned","postId","postedAt","repostedPostDeleted","stats","updatedAt","webUrl"]},"PostMentionsResponse":{"type":"object","properties":{"companies":{"type":"array","description":"멘션된 회사","items":{"$ref":"#/components/schemas/MentionResponse"}},"users":{"type":"array","description":"멘션된 사용자","items":{"$ref":"#/components/schemas/MentionResponse"}}},"required":["companies","users"]},"JobCompanyResponse":{"type":"object","properties":{"id":{"type":["string","null"],"description":"회사 식별자(handle)"},"name":{"type":"string","description":"회사명"},"logoUrl":{"type":["string","null"],"description":"로고 URL"},"industry":{"type":["string","null"],"description":"산업군"},"size":{"type":["string","null"],"description":"회사 규모","enum":["TINY","SMALL","MEDIUM","LARGE","HUGE"]}},"required":["name"]},"JobSummaryResponse":{"type":"object","description":"채용공고 목록 아이템","properties":{"jobId":{"type":"integer","format":"int64","description":"채용공고 ID","example":9001234},"title":{"type":"string","description":"공고 제목","example":"백엔드 엔지니어 (Kotlin/Spring)"},"subtitle":{"type":["string","null"],"description":"공고 부제목"},"jobCategory":{"type":["string","null"],"description":"직군 코드"},"seniorities":{"type":"array","description":"숙련도 목록","items":{"type":"string"}},"employmentTypes":{"type":"array","description":"고용형태 목록","items":{"type":"string"}},"workType":{"type":["string","null"],"description":"근무 방식","enum":["ONSITE","HYBRID","REMOTE"]},"company":{"$ref":"#/components/schemas/JobCompanyResponse","description":"회사 정보"},"endAt":{"type":["string","null"],"description":"모집 종료(목록은 원시 LocalDateTime 문자열, 상시채용이면 null)"},"webUrl":{"type":"string","description":"로켓펀치 페이지 URL"}},"required":["company","employmentTypes","jobId","seniorities","title","webUrl"]},"PageResponseJobSummaryResponse":{"type":"object","description":"페이지네이션 응답. page 는 1부터 시작하며, page > totalPages 인 경우 items 는 빈 배열이다.","properties":{"totalItems":{"type":"integer","format":"int64","description":"전체 항목 수"},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수"},"page":{"type":"integer","format":"int32","description":"현재 페이지 번호 (1부터 시작)"},"pageSize":{"type":"integer","format":"int32","description":"페이지 크기"},"items":{"type":"array","description":"현재 페이지 항목","items":{"$ref":"#/components/schemas/JobSummaryResponse"}}},"required":["items","page","pageSize","totalItems","totalPages"]},"ApplyMethodResponse":{"type":"object","properties":{"type":{"type":"string","description":"지원 방식","enum":["PLATFORM","OUTLINK"],"example":"OUTLINK"},"url":{"type":["string","null"],"description":"지원 URL"}},"required":["type"]},"JobDetailResponse":{"type":"object","description":"채용공고 상세. status·hiring 필드는 직교 차원으로 응답 가능한 4가지 조합을 갖는다: (1) status=published, hiring=true → 모집 진행중(지원 가능), (2) status=published, hiring=false → 노출 상태이나 모집 종료(시간 만료 또는 회사가 일시 마감, 재오픈 가능성 있음), (3) status=finish, hiring=false → 회사가 명시적으로 채용 종료(영구 마감), (4) status=finish, hiring=true → 데이터 정합성 상 거의 발생하지 않음. 지원 가능 여부 판정은 (1) 케이스만, 마감 표시는 (2)(3) 모두 적용 권장.","properties":{"jobId":{"type":"integer","format":"int64","description":"채용공고 ID","example":9001234},"status":{"type":"string","description":"공고 상태. published=현재 노출중(모집중 또는 모집 종료), finish=회사가 명시적으로 채용 종료 처리한 공고. 삭제·임시저장 공고는 응답되지 않는다.","enum":["published","finish"],"example":"published"},"hiring":{"type":"boolean","description":"모집중 여부. true=모집 진행중, false=모집 종료(검색·목록에는 노출되지 않으며 상세에만 응답)","example":true},"title":{"type":"string","description":"공고 제목","example":"백엔드 엔지니어 (Kotlin/Spring)"},"subtitle":{"type":["string","null"],"description":"공고 부제목"},"jobCategory":{"type":["string","null"],"description":"직군 코드"},"seniorities":{"type":"array","description":"숙련도 목록","items":{"type":"string"}},"employmentTypes":{"type":"array","description":"고용형태 목록","items":{"type":"string"}},"workType":{"type":["string","null"],"description":"근무 방식","enum":["ONSITE","HYBRID","REMOTE"]},"language":{"type":["string","null"],"description":"콘텐츠 언어"},"description":{"type":["string","null"],"description":"상세 내용"},"duty":{"type":["string","null"],"description":"주요 업무"},"minimumQualification":{"type":["string","null"],"description":"자격 요건"},"preferredQualification":{"type":["string","null"],"description":"우대 사항"},"benefit":{"type":["string","null"],"description":"복지/혜택"},"hireProcess":{"type":["string","null"],"description":"채용 절차"},"hireNotes":{"type":["string","null"],"description":"참고 사항"},"jobImages":{"type":"array","description":"공고 이미지 URL 목록","items":{"type":"string"}},"allowRemote":{"type":"boolean","description":"원격근무 허용"},"company":{"$ref":"#/components/schemas/JobCompanyResponse","description":"회사 정보"},"applyMethod":{"$ref":"#/components/schemas/ApplyMethodResponse","description":"지원 방법"},"startAt":{"type":["string","null"],"description":"모집 시작 ISO-8601 UTC"},"endAt":{"type":["string","null"],"description":"모집 종료 ISO-8601 UTC(상시채용이면 null, 과거 시각이면 모집 종료된 공고)"},"webUrl":{"type":"string","description":"로켓펀치 페이지 URL"},"createdAt":{"type":"string","description":"생성 시각 ISO-8601 UTC"}},"required":["allowRemote","applyMethod","company","createdAt","employmentTypes","hiring","jobId","jobImages","seniorities","status","title","webUrl"]},"EventHostResponse":{"type":"object","properties":{"hostType":{"type":"string","description":"호스트 유형","enum":["COMPANY","MEMBER"],"example":"COMPANY"},"name":{"type":"string","description":"호스트명"},"id":{"type":["string","null"],"description":"회사 식별자(handle)"},"profileImageUrl":{"type":["string","null"],"description":"프로필 이미지 URL"},"roles":{"type":"array","description":"역할 목록","enum":["ORGANIZER","SPONSOR","PARTNER"],"items":{"type":"string"}}},"required":["hostType","name","roles"]},"EventStatsResponse":{"type":"object","properties":{"viewCount":{"type":["integer","null"],"format":"int64","description":"조회수"},"guestCount":{"type":["integer","null"],"format":"int64","description":"참여자 수(비공개면 null)"}}},"EventSummaryResponse":{"type":"object","properties":{"eventId":{"type":"string","description":"이벤트 ID","example":"8H2KQ9XJ4P"},"eventName":{"type":"string","description":"이벤트명","example":"2026 AI 컨퍼런스"},"eventCategories":{"type":"array","description":"이벤트 카테고리","items":{"type":"string"}},"eventSubjects":{"type":"array","description":"이벤트 주제","items":{"type":"string"}},"startAt":{"type":"string","description":"시작 일시","example":"2026-09-01T10:00"},"endAt":{"type":"string","description":"종료 일시","example":"2026-09-01T18:00"},"eventOpenType":{"type":"string","description":"진행 방식: OFFLINE(오프라인)/ONLINE(온라인)/ON_OFFLINE(온·오프라인)/TBD(미정)","enum":["OFFLINE","ONLINE","ON_OFFLINE","TBD"],"example":"OFFLINE"},"location":{"oneOf":[{"$ref":"#/components/schemas/LocationResponse"},{"type":"null"}]},"bannerUrl":{"type":["string","null"],"description":"배너 이미지 URL"},"hosts":{"type":"array","description":"호스트 목록","items":{"$ref":"#/components/schemas/EventHostResponse"}},"stats":{"$ref":"#/components/schemas/EventStatsResponse","description":"누적 통계"},"webUrl":{"type":"string","description":"로켓펀치 페이지 URL"}},"required":["endAt","eventCategories","eventId","eventName","eventOpenType","eventSubjects","hosts","startAt","stats","webUrl"]},"LocationResponse":{"type":"object","properties":{"country":{"type":["string","null"],"description":"국가 코드(ISO alpha-2)","example":"KR"},"region":{"type":["string","null"],"description":"광역 행정구역","example":"서울특별시"},"locality":{"type":["string","null"],"description":"시/군/구","example":"강남구"},"placeName":{"type":["string","null"],"description":"장소명","example":"코엑스 그랜드볼룸"},"address":{"type":["string","null"],"description":"주소(도로명/지번)","example":"서울특별시 강남구 영동대로 513"},"addressDetail":{"type":["string","null"],"description":"건물 내 상세 위치","example":"B1 그랜드볼룸"},"directions":{"type":["string","null"],"description":"찾아오는 길/교통편 안내","example":"2호선 삼성역 5번출구 도보 5분"},"latitude":{"type":["number","null"],"description":"위도"},"longitude":{"type":["number","null"],"description":"경도"}}},"PageResponseEventSummaryResponse":{"type":"object","description":"페이지네이션 응답. page 는 1부터 시작하며, page > totalPages 인 경우 items 는 빈 배열이다.","properties":{"totalItems":{"type":"integer","format":"int64","description":"전체 항목 수"},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수"},"page":{"type":"integer","format":"int32","description":"현재 페이지 번호 (1부터 시작)"},"pageSize":{"type":"integer","format":"int32","description":"페이지 크기"},"items":{"type":"array","description":"현재 페이지 항목","items":{"$ref":"#/components/schemas/EventSummaryResponse"}}},"required":["items","page","pageSize","totalItems","totalPages"]},"EventAttachmentResponse":{"type":"object","properties":{"url":{"type":"string","description":"이미지 URL"},"fileName":{"type":["string","null"],"description":"파일명"}},"required":["url"]},"EventDetailResponse":{"type":"object","description":"이벤트 상세","properties":{"eventId":{"type":"string","description":"이벤트 ID","example":"8H2KQ9XJ4P"},"eventName":{"type":"string","description":"이벤트명","example":"2026 AI 컨퍼런스"},"descriptionHtml":{"type":["string","null"],"description":"이벤트 설명 본문 (HTML)"},"language":{"type":["string","null"],"description":"콘텐츠 언어","example":"ko"},"eventStatus":{"type":"string","description":"이벤트 상태: PUBLISHED(공개)/CANCELED(취소)","enum":["PUBLISHED","CANCELED"],"example":"PUBLISHED"},"eventCategories":{"type":"array","description":"이벤트 카테고리","items":{"type":"string"}},"eventSubjects":{"type":"array","description":"이벤트 주제","items":{"type":"string"}},"startAt":{"type":"string","description":"시작 ISO-8601 UTC","example":"2026-09-01T10:00:00Z"},"endAt":{"type":"string","description":"종료 ISO-8601 UTC","example":"2026-09-01T18:00:00Z"},"eventOpenType":{"type":"string","description":"진행 방식: OFFLINE(오프라인)/ONLINE(온라인)/ON_OFFLINE(온·오프라인)/TBD(미정)","enum":["OFFLINE","ONLINE","ON_OFFLINE","TBD"],"example":"OFFLINE"},"joinType":{"type":"string","description":"참가 방식: OPEN(자유 참가)/REGISTERED(사전 등록)","enum":["OPEN","REGISTERED"],"example":"REGISTERED"},"bannerUrl":{"type":["string","null"],"description":"배너 이미지 URL"},"attachments":{"type":"array","description":"첨부 이미지","items":{"$ref":"#/components/schemas/EventAttachmentResponse"}},"location":{"oneOf":[{"$ref":"#/components/schemas/LocationResponse"},{"type":"null"}]},"onlineLink":{"type":["string","null"],"description":"온라인 참가 링크 (제공되는 경우에만 포함)"},"hosts":{"type":"array","description":"호스트 목록","items":{"$ref":"#/components/schemas/EventHostResponse"}},"stats":{"$ref":"#/components/schemas/EventStatsResponse","description":"누적 통계"},"webUrl":{"type":"string","description":"로켓펀치 페이지 URL","example":"https://www.rocketpunch.com/events/8H2KQ9XJ4P"},"createdAt":{"type":"string","description":"생성 시각 ISO-8601 UTC"}},"required":["attachments","createdAt","endAt","eventCategories","eventId","eventName","eventOpenType","eventStatus","eventSubjects","hosts","joinType","startAt","stats","webUrl"]},"EventTicketResponse":{"type":"object","description":"이벤트 티켓","properties":{"ticketName":{"type":"string","description":"티켓명"},"ticketType":{"type":"string","description":"티켓 유형: FREE(무료)/CHARGED(유료)","enum":["FREE","CHARGED"]},"description":{"type":["string","null"],"description":"티켓 설명"},"price":{"type":["number","null"],"description":"가격(유료 티켓)"},"currency":{"type":["string","null"],"description":"통화 코드","example":"KRW"},"saleStartAt":{"type":"string","description":"판매 시작 ISO-8601 UTC","example":"2026-08-01T00:00:00Z"},"saleEndAt":{"type":"string","description":"판매 종료 ISO-8601 UTC","example":"2026-08-31T23:59:59Z"},"approvalRequired":{"type":"boolean","description":"참가 승인 필요 여부. true면 신청 후 주최자 승인을 받아야 참가가 확정된다."},"waitingRequired":{"type":"boolean","description":"대기 신청(웨이팅) 허용 여부. true인 티켓은 매진 상태에서 대기 신청을 받는다. 따라서 '지금 대기 신청이 가능한지'는 `waitingRequired && soldOut` 으로 판단한다."},"maxPerPerson":{"type":["integer","null"],"format":"int32","description":"1인당 최대 구매 수량"},"soldOut":{"type":"boolean","description":"매진 여부. 잔여 수량이 0이면 true다."}},"required":["approvalRequired","saleEndAt","saleStartAt","soldOut","ticketName","ticketType","waitingRequired"]},"EventSessionResponse":{"type":"object","description":"이벤트 세션","properties":{"sessionName":{"type":"string","description":"세션명"},"description":{"type":["string","null"],"description":"세션 설명"},"videoUrl":{"type":["string","null"],"description":"영상 URL"},"thumbnailUrl":{"type":["string","null"],"description":"썸네일 이미지 URL"},"speakers":{"type":"array","description":"연사 목록","items":{"$ref":"#/components/schemas/EventSessionSpeakerResponse"}},"tags":{"type":"array","description":"태그 목록","items":{"type":"string"}}},"required":["sessionName","speakers","tags"]},"EventSessionSpeakerResponse":{"type":"object","description":"세션 연사","properties":{"name":{"type":"string","description":"연사명"},"jobOrDept":{"type":["string","null"],"description":"직함/소속"}},"required":["name"]},"EventSessionTimeSlotResponse":{"type":"object","description":"이벤트 타임슬롯(세션 그룹)","properties":{"day":{"type":"string","description":"진행 날짜(YYYY-MM-DD)","example":"2026-09-01"},"startTime":{"type":"string","description":"시작 시각(HH:mm)","example":"10:00"},"endTime":{"type":"string","description":"종료 시각(HH:mm)","example":"11:00"},"sessions":{"type":"array","description":"세션 목록 (진행 순서)","items":{"$ref":"#/components/schemas/EventSessionResponse"}}},"required":["day","endTime","sessions","startTime"]},"EventFaqCategoryResponse":{"type":"object","description":"이벤트 FAQ 카테고리","properties":{"categoryName":{"type":"string","description":"카테고리명"},"faqs":{"type":"array","description":"FAQ 목록 (표시 순서)","items":{"$ref":"#/components/schemas/EventFaqResponse"}}},"required":["categoryName","faqs"]},"EventFaqResponse":{"type":"object","description":"이벤트 FAQ","properties":{"title":{"type":"string","description":"질문"},"content":{"type":"string","description":"답변"}},"required":["content","title"]},"CodeResponse":{"type":"object","description":"코드 카탈로그 항목","properties":{"code":{"type":"string","description":"코드명","example":"CONFERENCE"},"displayName":{"type":"string","description":"Accept-Language(로케일)에 따라 번역된 표시명","example":"컨퍼런스"},"description":{"type":"string","description":"설명(없으면 빈 문자열)","example":"강연 · 세미나 · 포럼"}},"required":["code","description","displayName"]},"JobIndustryCodeResponse":{"type":"object","description":"채용 산업분야 코드 (계층 구조)","properties":{"code":{"type":"string","description":"코드명","example":"1000"},"displayName":{"type":"string","description":"Accept-Language(로케일)에 따라 번역된 표시명","example":"IT·웹·통신"},"children":{"type":["array","null"],"description":"하위 산업분야 목록(없으면 미포함)","items":{"$ref":"#/components/schemas/JobIndustryCodeResponse"}}},"required":["code","displayName"]},"EventCategoryCode":{"type":"string","description":"이벤트 카테고리 코드 카탈로그. 라벨/설명은 ko 기본값이며, 다국어 라벨은 `/api/v1/codes/*` 로 조회.\n\n| code | label | description |\n|---|---|---|\n| `MARKET` | 팝업스토어 | 한정 기간 행사 |\n| `FAIR` | 페어 | 박람회 · 전시회 |\n| `CONFERENCE` | 컨퍼런스 | 강연 · 세미나 · 포럼 |\n| `NETWORKING` | 네트워킹 | 밋업 · 멘토링 |\n| `BUSINESS` | 비즈니스 | IR · 런칭데이 |\n| `COMPETITION` | 대회 | 해커톤 · 공모전 |\n| `LIFESTYLE` | 라이프스타일 | 축제 · 공연 · 문화생활 |\n","enum":["MARKET","FAIR","CONFERENCE","NETWORKING","BUSINESS","COMPETITION","LIFESTYLE"]},"EventSubjectCode":{"type":"string","description":"이벤트 주제 코드 카탈로그. 라벨/설명은 ko 기본값이며, 다국어 라벨은 `/api/v1/codes/*` 로 조회.\n\n| code | label | description |\n|---|---|---|\n| `WEB3` | Web3 | 블록체인 · 암호화폐 |\n| `TECHNOLOGY` | 테크 | 인공지능 · 엔지니어링 · 연구 |\n| `PRODUCT` | 프로덕트 | 서비스 · 기획 · 디자인 · 마케팅 |\n| `FINANCE` | 파이낸스 | 자산 · 투자 · 재테크 · 금융 |\n| `HUMANITIES` | 인문 | 사회 · 기후 · 생명 · 종교 · 공익 |\n| `BUSINESS` | 비즈니스 | 사업 · 전략 · 조직 · 인사 · 영업 |\n| `CULTURE` | 컬쳐 | 게임 · 콘텐츠 · 아트 · 푸드 · 미디어 |\n","enum":["WEB3","TECHNOLOGY","PRODUCT","FINANCE","HUMANITIES","BUSINESS","CULTURE"]},"SeniorityCode":{"type":"string","description":"숙련도 코드 카탈로그. 라벨/설명은 ko 기본값이며, 다국어 라벨은 `/api/v1/codes/*` 로 조회.\n\n| code | label | description |\n|---|---|---|\n| `BEGINNER` | 신입 | 인턴 또는 실무 경험 없음 |\n| `JUNIOR` | 주니어 | 기초적인 업무 수행\n(1~3년차에 준하는 실력) |\n| `MIDLEVEL` | 미들 | 준수한 이해도, 프로젝트 전담\n(3~7년차에 준하는 실력) |\n| `SENIOR` | 시니어 | 높은 이해도, 다수로 구성된 팀 리드\n(7~15년차에 준하는 실력) |\n| `EXECUTIVE` | C레벨 | 전문가 수준, 임원급 의사결정권\n(15년 이상에 준하는 실력) |\n","enum":["BEGINNER","JUNIOR","MIDLEVEL","SENIOR","EXECUTIVE"]},"EmploymentTypeCode":{"type":"string","description":"고용형태 코드 카탈로그. 라벨/설명은 ko 기본값이며, 다국어 라벨은 `/api/v1/codes/*` 로 조회.\n\n| code | label | description |\n|---|---|---|\n| `FULL_TIME` | 정규직 |  |\n| `FIXED_TERM` | 계약직 |  |\n| `COMMISSIONED` | 위촉직 |  |\n| `INTERN` | 인턴/수습 |  |\n| `FREELANCER` | 프리랜서 |  |\n| `SELF_EMPLOYED` | 자영업/개인사업 |  |\n","enum":["FULL_TIME","FIXED_TERM","COMMISSIONED","INTERN","FREELANCER","SELF_EMPLOYED"]},"AuthorizationServerMetadata":{"description":"RFC 8414 메타데이터 응답","properties":{"issuer":{"type":"string","description":"인가 서버 발급자 URL","example":"https://openapi.rocketpunch.com"},"authorization_endpoint":{"type":"string","description":"인가 엔드포인트 URL","example":"https://openapi.rocketpunch.com/oauth/authorize"},"token_endpoint":{"type":"string","description":"토큰 엔드포인트 URL","example":"https://openapi.rocketpunch.com/oauth/token"},"revocation_endpoint":{"type":"string","description":"토큰 폐기 엔드포인트 URL","example":"https://openapi.rocketpunch.com/oauth/revoke"},"response_types_supported":{"type":"array","description":"지원하는 response_type 목록","example":["code"],"items":{"type":"string","description":"지원하는 response_type 목록","example":"[\"code\"]"}},"grant_types_supported":{"type":"array","description":"지원하는 grant_type 목록","example":["authorization_code","refresh_token"],"items":{"type":"string","description":"지원하는 grant_type 목록","example":"[\"authorization_code\",\"refresh_token\"]"}},"token_endpoint_auth_methods_supported":{"type":"array","description":"지원하는 토큰 엔드포인트 인증 방식","example":["client_secret_basic","client_secret_post"],"items":{"type":"string","description":"지원하는 토큰 엔드포인트 인증 방식","example":"[\"client_secret_basic\",\"client_secret_post\"]"}},"code_challenge_methods_supported":{"type":"array","description":"지원하는 PKCE code_challenge_method 목록","example":["S256"],"items":{"type":"string","description":"지원하는 PKCE code_challenge_method 목록","example":"[\"S256\"]"}},"scopes_supported":{"type":"array","description":"지원하는 scope 목록","example":["profile:read"],"items":{"type":"string","description":"지원하는 scope 목록","example":"[\"profile:read\"]"}}},"required":["authorization_endpoint","code_challenge_methods_supported","grant_types_supported","issuer","response_types_supported","revocation_endpoint","scopes_supported","token_endpoint","token_endpoint_auth_methods_supported"]}},"responses":{"RateLimitExceeded":{"description":"Rate limit 초과. 전역(App Key 기준 분당 60 / 일 5,000) 또는 게시글 write 엔드포인트별 sub-limit 둘 중 어느 쪽이든 초과 시 응답한다. 게시글 write sub-limit (전역 한도에 포함): POST 3/min·30/h·200/day, PUT 5/min·60/h·500/day, DELETE 3/min·30/h·150/day. scope 카운터가 먼저 닿으면 `X-OBA-RateLimit-Scope` 헤더로 식별된다.","headers":{"Retry-After":{"description":"재시도까지 대기 초","schema":{"type":"integer","format":"int32"}},"X-OBA-RateLimit-Remaining":{"description":"현재 분 남은 호출 수","schema":{"type":"integer","format":"int32"}},"X-OBA-RateLimit-Scope":{"description":"scope 카운터가 먼저 한도를 넘은 경우 그 식별자 (`post.create` / `post.update` / `post.delete`). 전역만 초과한 경우 헤더 없음.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"parameters":{"AcceptLanguage":{"name":"Accept-Language","in":"header","description":"응답 지원 로케일: ko, en, ja, zh-CN, zh-TW, es, fr, de, pt, th, vi. 미지정 시 ko 기본값","required":false,"schema":{"type":"string","example":"ko"}}},"securitySchemes":{"apiKey":{"type":"apiKey","name":"X-OBA-API-Key","in":"header"},"oauth2":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"https://openapi.rocketpunch.com/oauth/authorize","tokenUrl":"https://openapi.rocketpunch.com/oauth/token","refreshUrl":"https://openapi.rocketpunch.com/oauth/token","scopes":{"profile":"내 프로필(이름·소셜 식별자) 조회","post:write":"게시글 작성","event:write":"이벤트 등록"}}}}}}}